/* styling for the style guide page content */

#content > * {
    line-height:1.5;
}

h2 {
    font-size:3em;
    font-weight:normal;
    margin:0 0 .25em 0;
}

hr {
    border-top:solid 1px #5ba546;
    border-bottom:solid 1px #ffff;
    margin:1em 0;
}

a {
	color:#5ba546;
	text-decoration:none;
	}